<header id="header">
    <div class="logo"> <img src="/img/vondos-logo-tagline.png" alt="Vondos | We Love Vaughan Condos"> </div>
    <ul class="top-menu">
        <li class="top-menu__trigger hidden-lg hidden-md"> <a data-toggle="dropdown" href=""> <i class="zmdi zmdi-apps"></i> </a>
            <ul class="dropdown-menu pull-right">
                <li><a href="/project"><i class="zmdi zmdi-city"></i> <small>Projects</small></a></li>
                <li><a href="listings.htm"><i class="zmdi zmdi-view-list"></i> <small>Listings</small></a></li>
            </ul>
        </li>
        <li class="top-menu__apps dropdown hidden-xs hidden-sm"> <a data-toggle="dropdown" href=""> <i class="zmdi zmdi-apps"></i> </a>
            <ul class="dropdown-menu pull-right">
                <li><a href="/project/list"><i class="zmdi zmdi-city"></i> <small>Projects</small></a></li>
                <li><a href="/listing/list"><i class="zmdi zmdi-view-list"></i> <small>Listings</small></a></li>
            </ul>
        </li>
    </ul>
</header>