<aside id="navigation">
    <div class="navigation__menu c-overflow">
        <ul>
            <li><a href="/project/list"><i class="zmdi zmdi-city"></i> Projects</a></li>
            <li><a href="/listing/list"><i class="zmdi zmdi-view-list"></i> Listings</a></li>
        </ul>
    </div>
</aside>